.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 600px;
  margin: 2%;
  text-align: center;
  border: 2px solid rgb(80, 80, 80);
  background-color: rgb(194, 194, 202);
}
.header {
  border-bottom: 1px dotted rgb(36, 36, 36);
}
